<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678405409819-4eitgbjfslgdd8b8m2plqkno0trrpg7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678405409819-4eitgbjfslgdd8b8m2plqkno0trrpg7p</string>
	<key>API_KEY</key>
	<string>AIzaSyC-3A5J8QrgOgPM_XtSw6KISbcXQTOU65Y</string>
	<key>GCM_SENDER_ID</key>
	<string>678405409819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ali.shopApp</string>
	<key>PROJECT_ID</key>
	<string>shop-app-d66c5</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-app-d66c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678405409819:ios:e3140de82f8121cb4d3cbe</string>
</dict>
</plist>